<%- include("../partials/header", { title }) %>

<div class="container mt-5 text-center">
  <h2>Welcome, <%= user.name %></h2>

  <p class="text-muted">
    Last visit: <%= lastVisit ? lastVisit : "First time login" %>
  </p>

  <div class="mt-4">
    <a href="/jobs/create" class="btn btn-primary btn-lg px-4">
      ➕ Create Job
    </a>

    <a href="/my-jobs" class="btn btn-outline-dark btn-lg px-4 ms-2">
      📋 My Jobs
    </a>
  </div>
</div>

<%- include("../partials/footer") %>
