<%- include("partials/header") %>

<div class="text-center">
  <h1 class="text-danger">404</h1>
  <p class="lead">Page Not Found</p>
  <a href="/" class="btn btn-secondary">Go Back Home</a>
</div>

<%- include("partials/footer") %>