<%- include("../partials/header", { title }) %>

<div class="alert alert-success">
  <h4>Application Submitted</h4>
  <p>You will receive a confirmation email shortly.</p>
  <a href="/jobs" class="btn btn-primary">Back to Jobs</a>
</div>

<%- include("../partials/footer") %>